body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.a { 
    margin-left: 5px;
    margin-right: 5px;
    width: 32px;
    height: 32px;
}

.a div {
    background-color: white;
}


@media all and (min-width: 583px) and (max-width: 1983px) {
    #a1 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 582px) {
    #a1 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1984px) {
    #a1 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 816px) and (max-width: 921px) {
    #a2 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 815px) {
    #a2 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 922px) {
    #a2 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1528px) and (max-width: 1807px) {
    #a3 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1527px) {
    #a3 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1808px) {
    #a3 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1197px) and (max-width: 1501px) {
    #a4 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1196px) {
    #a4 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1502px) {
    #a4 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1422px) and (max-width: 1879px) {
    #a5 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1421px) {
    #a5 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1880px) {
    #a5 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1504px) and (max-width: 1907px) {
    #a6 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1503px) {
    #a6 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1908px) {
    #a6 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1014px) and (max-width: 1036px) {
    #a7 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1013px) {
    #a7 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1037px) {
    #a7 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1827px) and (max-width: 1894px) {
    #a8 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1826px) {
    #a8 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1895px) {
    #a8 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 830px) and (max-width: 861px) {
    #a9 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 829px) {
    #a9 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 862px) {
    #a9 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 971px) and (max-width: 1397px) {
    #a10 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 970px) {
    #a10 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1398px) {
    #a10 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1377px) and (max-width: 1907px) {
    #a11 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1376px) {
    #a11 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1908px) {
    #a11 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 964px) and (max-width: 1468px) {
    #a12 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 963px) {
    #a12 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1469px) {
    #a12 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1702px) and (max-width: 1866px) {
    #a13 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1701px) {
    #a13 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1867px) {
    #a13 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1566px) and (max-width: 1636px) {
    #a14 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1565px) {
    #a14 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1637px) {
    #a14 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1522px) and (max-width: 1760px) {
    #a15 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1521px) {
    #a15 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1761px) {
    #a15 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1235px) and (max-width: 1454px) {
    #a16 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1234px) {
    #a16 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1455px) {
    #a16 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1455px) and (max-width: 1508px) {
    #a17 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1454px) {
    #a17 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1509px) {
    #a17 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 417px) and (max-width: 1388px) {
    #a18 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 416px) {
    #a18 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1389px) {
    #a18 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 429px) and (max-width: 945px) {
    #a19 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 428px) {
    #a19 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 946px) {
    #a19 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 754px) and (max-width: 1985px) {
    #a20 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 753px) {
    #a20 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1986px) {
    #a20 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 642px) and (max-width: 1156px) {
    #a21 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 641px) {
    #a21 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1157px) {
    #a21 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1264px) and (max-width: 1295px) {
    #a22 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1263px) {
    #a22 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1296px) {
    #a22 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 868px) and (max-width: 1034px) {
    #a23 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 867px) {
    #a23 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1035px) {
    #a23 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 534px) and (max-width: 1956px) {
    #a24 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 533px) {
    #a24 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1957px) {
    #a24 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1650px) and (max-width: 1977px) {
    #a25 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1649px) {
    #a25 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1978px) {
    #a25 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1538px) and (max-width: 1729px) {
    #a26 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1537px) {
    #a26 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1730px) {
    #a26 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 695px) and (max-width: 1332px) {
    #a27 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 694px) {
    #a27 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1333px) {
    #a27 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1542px) and (max-width: 1896px) {
    #a28 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1541px) {
    #a28 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1897px) {
    #a28 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 485px) and (max-width: 1823px) {
    #a29 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 484px) {
    #a29 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1824px) {
    #a29 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1535px) and (max-width: 1803px) {
    #a30 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1534px) {
    #a30 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1804px) {
    #a30 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1625px) and (max-width: 1665px) {
    #a31 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1624px) {
    #a31 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1666px) {
    #a31 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 969px) and (max-width: 1058px) {
    #a32 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 968px) {
    #a32 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1059px) {
    #a32 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1058px) and (max-width: 1183px) {
    #a33 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1057px) {
    #a33 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1184px) {
    #a33 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1445px) and (max-width: 1960px) {
    #a34 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1444px) {
    #a34 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1961px) {
    #a34 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 822px) and (max-width: 1313px) {
    #a35 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 821px) {
    #a35 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1314px) {
    #a35 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1785px) and (max-width: 1797px) {
    #a36 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1784px) {
    #a36 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1798px) {
    #a36 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1632px) and (max-width: 1865px) {
    #a37 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1631px) {
    #a37 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1866px) {
    #a37 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 589px) and (max-width: 1097px) {
    #a38 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 588px) {
    #a38 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1098px) {
    #a38 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1833px) and (max-width: 1841px) {
    #a39 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1832px) {
    #a39 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1842px) {
    #a39 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 916px) and (max-width: 1696px) {
    #a40 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 915px) {
    #a40 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1697px) {
    #a40 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1128px) and (max-width: 1210px) {
    #a41 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1127px) {
    #a41 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1211px) {
    #a41 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1686px) and (max-width: 1749px) {
    #a42 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1685px) {
    #a42 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1750px) {
    #a42 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1072px) and (max-width: 1509px) {
    #a43 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1071px) {
    #a43 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1510px) {
    #a43 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1020px) and (max-width: 1663px) {
    #a44 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1019px) {
    #a44 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1664px) {
    #a44 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1356px) and (max-width: 1956px) {
    #a45 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1355px) {
    #a45 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1957px) {
    #a45 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1324px) and (max-width: 1788px) {
    #a46 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1323px) {
    #a46 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1789px) {
    #a46 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1448px) and (max-width: 1623px) {
    #a47 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1447px) {
    #a47 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1624px) {
    #a47 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 795px) and (max-width: 803px) {
    #a48 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 794px) {
    #a48 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 804px) {
    #a48 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1565px) and (max-width: 1791px) {
    #a49 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1564px) {
    #a49 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1792px) {
    #a49 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1802px) and (max-width: 1906px) {
    #a50 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1801px) {
    #a50 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1907px) {
    #a50 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1938px) and (max-width: 1957px) {
    #a51 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1937px) {
    #a51 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1958px) {
    #a51 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 756px) and (max-width: 1082px) {
    #a52 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 755px) {
    #a52 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1083px) {
    #a52 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1705px) and (max-width: 1772px) {
    #a53 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1704px) {
    #a53 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1773px) {
    #a53 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1229px) and (max-width: 1877px) {
    #a54 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1228px) {
    #a54 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1878px) {
    #a54 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 690px) and (max-width: 1255px) {
    #a55 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 689px) {
    #a55 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1256px) {
    #a55 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1941px) and (max-width: 1991px) {
    #a56 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1940px) {
    #a56 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1992px) {
    #a56 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 504px) and (max-width: 625px) {
    #a57 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 503px) {
    #a57 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 626px) {
    #a57 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1472px) and (max-width: 1982px) {
    #a58 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1471px) {
    #a58 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1983px) {
    #a58 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 519px) and (max-width: 1961px) {
    #a59 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 518px) {
    #a59 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1962px) {
    #a59 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1682px) and (max-width: 1813px) {
    #a60 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1681px) {
    #a60 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1814px) {
    #a60 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1560px) and (max-width: 1700px) {
    #a61 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1559px) {
    #a61 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1701px) {
    #a61 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1005px) and (max-width: 1960px) {
    #a62 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1004px) {
    #a62 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1961px) {
    #a62 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1344px) and (max-width: 1756px) {
    #a63 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1343px) {
    #a63 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1757px) {
    #a63 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1535px) and (max-width: 1643px) {
    #a64 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1534px) {
    #a64 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1644px) {
    #a64 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1587px) and (max-width: 1836px) {
    #a65 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1586px) {
    #a65 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1837px) {
    #a65 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1715px) and (max-width: 1967px) {
    #a66 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1714px) {
    #a66 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1968px) {
    #a66 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1775px) and (max-width: 1854px) {
    #a67 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1774px) {
    #a67 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1855px) {
    #a67 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 414px) and (max-width: 1264px) {
    #a68 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 413px) {
    #a68 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1265px) {
    #a68 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1541px) and (max-width: 1731px) {
    #a69 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1540px) {
    #a69 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1732px) {
    #a69 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1808px) and (max-width: 1970px) {
    #a70 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1807px) {
    #a70 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1971px) {
    #a70 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1025px) and (max-width: 1212px) {
    #a71 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1024px) {
    #a71 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1213px) {
    #a71 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1243px) and (max-width: 1302px) {
    #a72 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1242px) {
    #a72 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1303px) {
    #a72 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1283px) and (max-width: 1533px) {
    #a73 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1282px) {
    #a73 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1534px) {
    #a73 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1065px) and (max-width: 1302px) {
    #a74 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1064px) {
    #a74 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1303px) {
    #a74 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 468px) and (max-width: 1500px) {
    #a75 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 467px) {
    #a75 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1501px) {
    #a75 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 552px) and (max-width: 992px) {
    #a76 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 551px) {
    #a76 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 993px) {
    #a76 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1864px) and (max-width: 1907px) {
    #a77 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1863px) {
    #a77 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1908px) {
    #a77 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1539px) and (max-width: 1992px) {
    #a78 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1538px) {
    #a78 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1993px) {
    #a78 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 426px) and (max-width: 1664px) {
    #a79 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 425px) {
    #a79 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1665px) {
    #a79 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 897px) and (max-width: 1353px) {
    #a80 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 896px) {
    #a80 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1354px) {
    #a80 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1314px) and (max-width: 1570px) {
    #a81 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1313px) {
    #a81 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1571px) {
    #a81 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1981px) and (max-width: 1998px) {
    #a82 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1980px) {
    #a82 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1999px) {
    #a82 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1603px) and (max-width: 1653px) {
    #a83 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1602px) {
    #a83 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1654px) {
    #a83 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 482px) and (max-width: 1902px) {
    #a84 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 481px) {
    #a84 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1903px) {
    #a84 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1314px) and (max-width: 1347px) {
    #a85 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1313px) {
    #a85 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1348px) {
    #a85 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1692px) and (max-width: 1729px) {
    #a86 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1691px) {
    #a86 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1730px) {
    #a86 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1081px) and (max-width: 1809px) {
    #a87 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1080px) {
    #a87 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1810px) {
    #a87 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 719px) and (max-width: 1252px) {
    #a88 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 718px) {
    #a88 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1253px) {
    #a88 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 477px) and (max-width: 561px) {
    #a89 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 476px) {
    #a89 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 562px) {
    #a89 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 573px) and (max-width: 1124px) {
    #a90 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 572px) {
    #a90 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1125px) {
    #a90 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 678px) and (max-width: 814px) {
    #a91 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 677px) {
    #a91 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 815px) {
    #a91 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 897px) and (max-width: 1883px) {
    #a92 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 896px) {
    #a92 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1884px) {
    #a92 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1579px) and (max-width: 1998px) {
    #a93 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1578px) {
    #a93 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1999px) {
    #a93 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1631px) and (max-width: 1871px) {
    #a94 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1630px) {
    #a94 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1872px) {
    #a94 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1212px) and (max-width: 1883px) {
    #a95 {
        background-color: black;
    }
}
@media all and (min-width: 0px) and (max-width: 1211px) {
    #a95 {
        position: relative;
        left: -10101px;
    }
}
@media all and (min-width: 1884px) {
    #a95 {
        position: relative;
        left: -10101px;
    }
}
